{% load for %}
{% include 'base.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        a{
            text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
            color: black; /*ça reste un exemple*/
        }
        a:hover{
            /*Pour que le lien ne soit plus "souligné"...*/
            color: black; /*ça reste un exemple*/

        }
        .current{
            margin-top: 0px;
        }
        i{
            size:9x
        }
        .next{
           
            
        }
        .previous{
          
        }
        .previous {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            width: 1150vw;
            
            color: white;
            padding-left: 5px;
        display: table-cell;
            
         
        }
         
        .next 
        {
            background-color: white;
                border-radius: 8px;
            width: 641px;
            height: 100%;
            padding: 10px;
            padding-top: 0px;
        display: table-cell;
         
        }

</style>
<div style="
width: 50%;
position: absolute;
top:285px;
bottom: 0;
left: 0;
right: 0;

margin: auto;

">
    <table class="table">
        <thead style="
        background-color: #a3c3f7;
        
        
        ">
        <tr>
        
            <th scope="col">Topic</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date de création</th>
        </tr>
        </thead>
        <tbody>
                
        {% for post in posts %}
            <tr>
                <th scope="row"><a href="{{post.category.slug}}/{{post.slug}}">{{post.title}}</a></th>
                <td>{{  post.user  }}</td>
                <td>{{ post.date_pub}}</td>
                
            </tr>
        {% endfor %}


        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>


    <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <div class="previous">
                    <a href="?page=1"><i class="fa fa-angle-double-left fa-2x"></i></a>
                    <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left fa-2x"></i></a>
                    </div>
                {% endif %}
        

        
                {% if posts.has_next %}
                    <div class="next">
                    <a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right fa-2x"></i></a>
                    <a href="?page={{ posts.paginator.num_pages }}"><i class="fa fa-angle-double-right fa-2x"></i></a>
                    </div>
                {% endif %}
            </span>
        </div>
        <p class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </p>
</div>