{% include 'base.html' %}
<style>

    .grid-container {
        text-align: left;
        display: grid;
        height: 23%;
        width: 25%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "AVATAR AVATAR INFOS INFOS INFOS" "AVATAR AVATAR INFOS INFOS INFOS" ". . . . .";
      }
      
      .AVATAR {
        grid-area: AVATAR;
      }
      
      .INFOS {
        grid-area: INFOS;
        text-align: left;
      }
      hr {
        height: 1px;
        margin: -0.5em 0;
        padding: 0;
        color: #000000;
        background-color: rgb(0, 0, 0);
        border: 0;
      }
      p{
          text-align: left;
      }
      div .content{
          width: 25px;
          height: 2px;
      }
      div .para{
        width: 50%;

      }
      .text
        {
        margin-left:155px;
        font-size: 18px;
        } 
      .sujet{
        margin-left:40%;
        font-size: 18px;

      }
      .titre{
        font-weight: bold;
        
      }

      
        
}
      

</style>
<center>
<div style="

">
<center>
  <p class="sujet titre">Sujet : {{ post.title }}</p>
</center>
<br>

<div class="grid-container">
    
    <div class="AVATAR">
            <img src="{{ post.user.profile.avatar.url }}" width="120px" height="120px" style="
            border-radius: 60px 60px;
            
            ">
    </div>
    <div class="INFOS" style="
    text-align: left;
    ">
            <p>Écris par {{ post.user }} <br>le {{ post.date_pub | date:'d/m/Y à  H:i.'  }} </p>
            <br>
            <br>
    
           
           
    </div>
  
  </div>
  
</div>
</center>
<div align="center">
    <div class="para" style="
    
    margin-left:20px;
    
    
    
    ">
            
            <p class="text">{{ post.content }}</p>
    </div>
</div>
<div class="content">


</div>





