{% load for %}
{% include 'base.html' %}
<style>
        a{
            text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
            color: black; /*ça reste un exemple*/
        }
        a:hover{
            /*Pour que le lien ne soit plus "souligné"...*/
            color: black; /*ça reste un exemple*/

        }
</style>
<div style="
width: 50%;
position: absolute;
top:215;
bottom: 0;
left: 0;
right: 0;

margin: auto;

">
    <table class="table">
        <thead style="
        background-color: #a3c3f7;
        
        
        ">
        <tr>
        
            <th scope="col">Nom</th>
            <th scope="col">Dernier topic</th>
            <th scope="col">Date du dernier topic</th>
        </tr>
        </thead>
        <tbody>
                
        {% for cat,last in cats,lasted %}
            <tr>
                <th scope="row"><a href="{{cat.slug}}">{{cat.name}}</a></th>
                <td>{{  last.title  }}</td>
                <td>{{last.date_pub}}</td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>