{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/blog.css' %}" />




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div align="center">
        <h1>{{ question.question_text }}</h1>
    <form action="{% url 'polls:vote' question.id %}" method="post" align="center">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" class="btn btn-primary"/>

    </form>
</div>