{% include 'base.html' %}
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet'>


<style>
                img {
                        max-width: 100%;
                        height: auto;
                    }

        textarea{
                        width: 50%;
                        height: 250px;
                        padding: 12px 20px;
                        box-sizing: border-box;
                        border: 0.5px solid #ccc;
                        border-radius: 4px;
                        background-color: #ffffff;
                        resize: none;
                        border-color: lightblue;
        }
        div .para{
                width: 50%;
                font-size: 25px;
        }
        .writeby{
                font-size: 25px;
        }
        .pertinence {
                position:relative; /* élimine le "position:static" par défaut */
                top:-8vw; /* pour remonter le texte, YYYY = height de ton image */
               
           }
        .body{
                
        }
        .titre{
                color: white;
                
                font-size: 2vw;
                                            
        }
     
        
        .grid-container {
                display: grid;
                
                width: 45%;

                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: "Avatar Avatar Description Description Description Description" "Avatar Avatar Description Description Description Description" ". . . . . .";
              }
              
              .Avatar {
                grid-area: Avatar;
              }
              
              .Description {
                grid-area: Description;
                text-align: left;
                
              }
</style>
<div align="center">
        <br>
        <br>
        
        <!--<img src="{{bd}}upload/banniere.png"> -->
        <div class="titre"></div>
        <img src="{{bd}}upload/{{ban}}" alt="" class="pourcent" />
        <p class="pertinence titre" style="font-family: Indie Flower;
        
        ">{{ article.titre }} <br>Ecris par {{ article.autor}}</p>
        

        <br>
       
        <div class="para">
                <p >{{ article.contenu|safe }}</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div  width="50%">
        

        


                
        </div>
        <div class="grid-container" align="center" width:50%>
                <div class="Avatar">
                        <img src="{{ article.autor.avatar.url }}" height="180" width="180" style="border-radius:90px 90px;" align="left"> 
                </div>
                <div class="Description">
                        <p class="writeby">Écrit par  {{ article.autor}} </p>
                       <p>{{article.autor.description}}</p>
                </div>
        </div>
        <div id="commentaires">
                {% if request.user.is_authenticated %}
                        <label class="form-group">Laisse un commentaire :) </label>

                        <form action="vote" method="POST" class="">
                                
                                <textarea class="form-group" name="contenu" id="contenu" placeholder="Ecrit ton commentaire ici :)" value="">

                                </textarea>
                                <br>
                                <input id="article" name="article" type="hidden" value={{article.pk}}>
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-primary" align="right">Commenter !</button>

                        </form>
                {% endif %}
                {% for comment in commentaires %}
                        <textarea style="
                        
                        

                        
                        " readonly >{{comment.user.username}} ({{comment.user.email}}) te dit :
                        
                        {{comment.contenu}}</textarea>
                        <br>
                        <br>
                        
                {% endfor %}

        
                 
                

        </div>
        

</div>

