{% include 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/blog.css' %}" />
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 align="center">Nos derniers articles : </h3>
<br>
    
<style>
    a{
        color: black;
    }
    .article{
        border: 0.5px solid rgb(207, 130, 28);
        width: 850px;
        height: 200px;
    }
    .grid-container {
        display: grid;
        
        width: 45%;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "Avatar Avatar Description Description Description Description" "Avatar Avatar Description Description Description Description" ". . . . . .";
      }
      
      .Vignette {
        grid-area: Avatar;
      }
      
      .Contenu {
        grid-area: Description;
        text-align: left;
        
      }
      img {
        max-width: 100%;
        height: auto;
    }
</style>
       
            
{% if latest_articles_list %}

{% for article in latest_articles_list%}
<div class="grid-container" align="center" width:50%>
        <div class="Vignette">
                <img src="{{ article.vignette.url }}" height="250" width="250" style="border-radius:25px 25px;" align="left"> 
        </div>
        <div class="Contenu">
                <p class="writeby"><a href="/articles/{{ article.slug }}/">{{ article.titre }}</a></p>
               <p>{{article.contenu |safe | truncatewords:60 }}</p>
        </div>
        
</div>


{% endfor %}

{% else %}
<p>No articles are available.</p>
{% endif %}
                
          







