{% include 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/blog.css' %}" />
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 align="center">Articles correspondants : </h3>
<br>
    
<style>
                img {
                        max-width: 100%;
                        height: auto;
                    }

    a{
        color: black;
    }
    .article{
        border: 0.5px solid rgb(207, 130, 28);
        width: 850px;
        height: 200px;
    }
    .grid-container {
        display: grid;
        
        width: 45%;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "Avatar Avatar Description Description Description Description" "Avatar Avatar Description Description Description Description" ". . . . . .";
      }
      
      .Vignette {
        grid-area: Avatar;
      }
      
      .Contenu {
        grid-area: Description;
        text-align: left;
        
      }
</style>
       
Articles :   
{% if articles %}

{% for article in articles%}
<div class="grid-container" align="center" width:50%>
        <div class="Vignette">
                <img src="{{ article.vignette.url }}" height="180px" width="180px" style="border-radius:25px 25px;" align="left"> 
        </div>
        <div class="Contenu">
                <p class="writeby"><a href="/articles/{{ article.slug }}/">{{ article.titre }}</a></p>
               <p>{{article.contenu |safe | truncatewords:5 }}</p>
        </div>
        
</div>


{% endfor %}

{% else %}
<p>Pas d'articles trouvés...</p>
{% endif %}
{% if cats %}
Forums : 
<br>
<br>
<br>
<br>
<br>    
{% for cat in cats%}
<div class="grid-container" align="center" width:50%>
        <div class="Contenu">
                <p class="writeby"><a href="/forum/{{ cat.slug }}">{{ cat.name }}</a></p>
               <p>{{article.contenu |safe | truncatewords:5 }}</p>
        </div>
        
</div>


{% endfor %}

{% else %}
<p>Pas d'articles trouvés...</p>
{% endif %}

          







